@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-size: 16px;
  color: #1e1e1e;
}

body {
  background-color: white;
  width: 100%;
  height: 100vh;
  font-family: Nunito;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


@media screen and (max-width: 1920px) {
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: 8200ms, opacity 0.4, visibility 1s;
  }

  /* .modal__buy {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    opacity: 0;
    transition: 8200ms, opacity 0.4, visibility 1s;
  }

  .modal__buy.opened {
    visibility: visible;
    opacity: 1;
  } */

  .modal__buy {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .modal__buy.opened {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }

  .modal.open {
    visibility: visible;
    opacity: 1;
  }

  
  .modal__box {
    max-width: 420px;
    padding: 20px 20px;
    height: 315px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 50px 50px;
  }

  .modal__close {
    background-color: initial;
    border: none;
    width: 40px;
    height: 40px;
    outline: none;
    margin: 20px auto;
    cursor: pointer;
  }

  .modal__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal__menu {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .modal__menu__link {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 700;
  }

  .container {
    max-width: 1230px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .header {
    margin-top: 20px;
    /* padding-bottom: 20px;
    border-bottom: 1px solid #FFE8D9; */
  }

  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .menu__link {
    text-decoration: none;
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 400;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 50px;
    max-width: 243px;
  }

  .user__city {
    color: #1e1e1e;
    font-size: 16px;
    font-weight: 400;
  }

  .nav__link {
    display: none;
  }

  .rolls {
    padding-top: 40px;
  }

  .rolls__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .rolls__title {
    color: #200C02;
    font-size: 20px;
    font-weight: 700;
  }

  /* box */

  .rolls__boxs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }

  .eat__box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 42px 20px 20px 20px;
    border-radius: 20px;
    border: 1px solid #FFE8D9;
    background: #fff;
  }

  .box__link {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
  }

  .box__eat__img {
    margin: 0 auto;
    width: 200px;
  }

  .box__title {
    margin-top: 25px;
    width: 240px;
    min-height: 72px;
    color: #1e1e1e;
    font-size: 20px;
    font-weight: 400;
  }

  .box__info {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box__text {
    color: #545454;
    font-size: 14px;
    font-weight: 400;
  }

  .box__price {
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 420px;
    padding: 0 16px;
    margin: 0 auto;
  }

  .header {
    margin-top: 20px;
  }

  .header__inner {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logopc__link {
    display: block;
  }

  .logo__pc {
    height: 35px;
    width: 165px;
    display: flex;
    align-items: center;
  }

  .menu {
    display: none;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .menu__link {
    display: none;
    text-decoration: none;
    color: #1e1e1e;
    font-size: 20px;
    font-weight: 400;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
    min-width: 68px;
  }

  .user__city {
    color: #5B463B;
    font-size: 15px;
    font-weight: 400;
  }

  .nav__link {
    display: none;
    align-items: center;
    outline: none;
    background-color: initial;
    border: none;
    outline: none;
  }

  .cart__link {
    display: flex;
    align-items: center;
  }

  .cart__img {
    width: 22px;
    height: 22px;
  }

  .eat__menu {
    margin-top: 40px;
    /* position: fixed;
    top: 20px;
    z-index: 999;
    background-color: white; */
  }

  .eat__menu__inner {
    display: flex;
    max-width: 400px;
    /* justify-content: space-between; */
    gap: 10px;
    align-items: center;
  }

  .menu__item {
    text-decoration: none;
    color: #200C02;
    font-weight: 400;
    font-size: 13px;
    padding: 7px 19px;
    border: 1px solid #FFE8D9;
    border-radius: 15px;
  }

  .menu__item:hover {
    /* border: 1px solid #F17113; */
    box-shadow: #ffe8d9 0px 0px 20px;
    transform: translateY(-1px);
  }

  .back__btn {
    display: flex;
    align-items: center;
  }

  .back__img {
    width: 24px;
    height: 24px;
  }

  /* box */

  .rolls__boxs {
    max-width: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    row-gap: 25px;
  }

  .eat__box {
    max-width: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 39px 24px 19px 24px;
    border-radius: 20px;
    border: 1px solid #FFE8D9;
    background: #fff;
  }

  .box__link {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;
  }

  .box__eat__img {
    margin: 0 auto;
    width: 220px;
  }

  .box__title {
    margin-top: 40px;
    margin-right: 30px;
    width: 280px;
    min-height: 54px;
    color: #200C02;
    font-size: 20px;
    font-weight: 500;
  }

  .box__info {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .box__text {
    color: #5B463B;
    font-size: 15px;
    font-weight: 400;
  }

  .box__price {
    font-size: 20px;
    color: #200C02;
    font-weight: 500;
  }




  /* Item */

  .item__inner {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 0 10px;
  }

  .item__img {
    width: 220px;
    margin: 0 auto;
  }
  
  .item__title {
    margin-top: 50px;
    width: 330px;
    font-size: 20px;
    color: #200C02;
    font-size: 600;
  }

  .mass__info {
    display: flex;
    width: 330px;
    gap: 50px;
    margin-top: 20px;
  }

  .mass {
    font-size: 15px;
    color: #5B463B;
    font-weight: 400;
  }

  .item__info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 150px;
  }

  .item__info__text {
    color: #5B463B;
    font-weight: 400;
    font-size: 15px;
  }

  .btns__cart {
    position: fixed;
    left: 25px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .cart__btn {
    width: 340px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #FFE8D9;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
  }

  .button__cart {
    background-color: initial;
    border: none;
    outline: none;
    padding: 10px 10px;
  }

  .cart__count {
    color: #F17113;
    font-size: 20px;
    font-weight: 500;
  }

  .item__buy {
    width: 340px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #F17113;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Nunito;
  }
}
